* {
	box-sizing: border-box;
}

body {
	margin: 30px;
	background-color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
#totorophoto{
margin: auto;
}

#prodTitel{
	text-align: center;

}

.film.items .card-img-top{
	height: 100px;
	width: 200px;
	object-fit: cover;
}

